html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

* {
    box-sizing: border-box;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 20px 0px;
    margin: 0px;
}

.main-content-grid {
    width: 100%;
    background-color: #9dff00;
    background-image: url(../background-img.jpg);
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    
    text-align: center;
    padding: 20px;
}

.grid-item {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.grid-item:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.grid-item > h1 {
    border-bottom: 1px solid #918a8a;
}

.grid-item > p {
    font-size: 19px;
    padding: 0px 15px;
}

/* cursor styling */

.alias:hover {
    cursor: alias;
}

.all-scroll:hover {
    cursor: all-scroll;
}

.auto:hover {
    cursor: auto;
}

.cell:hover {
    cursor: cell;
}

.context-menu:hover {
    cursor: context-menu;
}

.col-resize:hover {
    cursor: col-resize;
}

.copy:hover {
    cursor: copy;
}

.crosshair:hover {
    cursor: crosshair;
}

.e-resize:hover {
    cursor: e-resize;
}

.ew-resize:hover {
    cursor: ew-resize;
}

.grab:hover {
    cursor: grab;
    cursor: -webkit-grab;
}

.grabbing:hover {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.help:hover {
    cursor: help;
}

.move:hover {
    cursor: move;
}

.n-resize:hover {
    cursor: n-resize;
}

.ne-resize:hover {
    cursor: ne-resize;
}

.nesw-resize:hover {
    cursor: nesw-resize;
}

.ns-resize:hover {
    cursor: ns-resize;
}

.nw-resize:hover {
    cursor: nw-resize;
}

.nwse-resize:hover {
    cursor: nwse-resize;
}

.no-drop:hover {
    cursor: no-drop;
}

.none:hover {
    cursor: none;
}

.not-allowed:hover {
    cursor: not-allowed;
}

.pointer:hover {
    cursor: pointer;
}

.progress:hover {
    cursor: progress;
}

.row-resize:hover {
    cursor: row-resize;
}

.s-resize:hover {
    cursor: s-resize;
}

.se-resize:hover {
    cursor: se-resize;
}

.sw-resize:hover {
    cursor: sw-resize;
}

.text:hover {
    cursor: text;
}

.vertical-text:hover {
    cursor: vertical-text;
}

.w-resize:hover {
    cursor: w-resize;
}

.wait:hover {
    cursor: wait;
}

.zoom-in:hover {
    cursor: zoom-in;
}

.zoom-out:hover {
    cursor: zoom-out;
}












/* 36

default, initial, inherit, URL

*/









